.navigation {
    display: block;
}

.navigation__roster {
    display: flex;
    margin-right: 70px;
    padding: 0;
    list-style: none;
}

.navigation__nav-button {
    width: 44px;
    height: 44px;
    z-index: 3;
    display: none;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 16px 30px 0 0;
    font-size: 36px;
    font-weight: 800;
}

.navigation__container {
    display: flex;
    margin: 17px 72px 0 0;
    padding: 0;
}

.navigation__list {
    display: flex;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: #000000;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 11px;
    padding: 0;
}

.navigation__list_first-of-type {
    display: none;
}

.navigation__list_item_last {
    margin-left: 52px;
    margin-right: 0;
    line-height: 16px;
}

.navigation__icon {
    width: 30px;
    height: 30px;

    background-repeat: no-repeat;
    background-position: center;

    border: none;
    border-radius: 4px;
    margin-left: 13px;
    background-color: #F9F9F9;
    background-image: url(../../images/Black-icon__COLOR_icon-main.svg);
}

.navigation__icon_color_pink {
    background-image: url(../../images/icon__COLOR_icon-main.svg);
    background-color: black;
}

.navigation__button {
    width: 76px;
    height: 32px;
    background-color: #000000;
    color: white;
    margin: 4px 0 0 30px;
    padding: 0;
    border: none;
    border-radius: 3px;
    text-decoration: none;
    list-style: none;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation__close-button {
    position: absolute;
    font-size: 16px;
    top: 24px;
    right: -2px;
    font-size: 24px;
    cursor: pointer;
    display: none;
    border: none;
    background-color: transparent;
}

.navigation__close-button_hidden {
    display: none;
}

.navigation__roster_opened .navigation__close-button {
    display: block;
}

@media (max-width: 1279px) {
    
    .navigation__roster {
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: -15px;
        right: -70px;
        height: 100%;
        width: 68%;
        background-color: white;
        display: none;
        z-index: 1000;
        padding: 133px 0 0 0;
    }

    .navigation__roster_opened {
        display: flex;
    }

    .navigation__list {
        margin: 14px 0 0 0;
        padding: 0 0 0 0;
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0px;
        text-align: center;
    }

    .navigation__nav-button {
        display: block;
    }

    .navigation__list_item_last {
        margin: 603px 0 0 0;
    }
    
    .navigation__list_first-of-type {
        display: block;
    }

    .navigation__overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        visibility: hidden;
        opacity: 0;
        transition: all .4s linear;
        z-index: 3;
      }
      
      .navigation__overlay_active {
        visibility: visible;
        opacity: 0.7;
        z-index: 2;
      }
}

@media (max-width: 767px) {
    .navigation__nav-button {
        width: 40px;
        height: 43px;
        font-size: 29px;
        margin: 16px 15px 0 0;
    }

    .navigation__overlay {
        display: none;
    }

    .navigation__roster {
        height: 100%;
        width: 100%;
        padding: 108px 0 0 0;
    }

    .navigation__list_item_last {
        margin: 427px 0 0 0;
    }
}